
<h1>hi! Welcome to the bulletin board!</h1>
<h3>Anyone can send a message here!</h3>
<small>Created by <a href="https://nimkoscript.neocities.org">nimkoscript</a></small>
<br>
<%messages.forEach(message => { %>
<span><strong><%=message.author.name%>:</strong> <%=message.message%></span> <small class="date"><%=message.createdAt%></small><br>
<% }) %>
<br>
<br>
<form method="POST">
  <input type="text" name="message" placeholder="message">
  <input type="submit" value="send">
</form>

<script>
	const params = new Proxy(new URLSearchParams(window.location.search), {
		get: (searchParams, prop) => searchParams.get(prop),
	});
	if (params.login && params.login == 'failed') {
		alert("Something went wrong logging in!");
	}

	document.querySelectorAll(".date").forEach(e => {
    	e.textContent = new Date(e.innerHTML).toLocaleString(window.locale, { weekday: 'long', year: 'numeric', month: 'numeric', day: 'numeric' }).replaceAll("/", ".")
	})
</script>
